# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   python-rapidjson -- Development requirements
# :Author:    Lele Gaifax <lele@metapensiero.it>
# :License:   MIT License
# :Copyright: © 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026 Lele Gaifax
#

-r requirements-test.txt

# Needed on Python >= 3.12
setuptools

# Needed by make release
bump-my-version==1.5.1
readme-renderer==45.0
twine==7.0.0

# Needed by make benchmarks-*
pytest-benchmark==5.2.3

pysimdjson==7.0.2
orjson==3.10.18
simplejson==3.20.1
ujson==5.10.0
